.Layout-Content {
  display: flex;
  margin-top: 120px;
  min-height: calc(100vh - 50px - 80px);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: white;
  
}